{% load tags_extra %}
<html>
<head>
    <title>Health Check</title>

    <!--link bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>

    body {
      background: #1B213B;
      color: #777;
      font-family: Montserrat, Arial, sans-serif;
    }

    .body-bg {
      background: #F3F4FA !important;
    }

    .content-area {
      max-width: 1280px;
      margin: 0 auto;
    }

    .box {
      background-color: #262D47;
      padding: 25px;
      border-radius: 4px;
    }

    </style>

</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-light" style="background-color: #000000;">
        <div class="container-md">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand" href="#">
                        <img src="https://omnisaude.co/assets/img/logo_omnisaude.png" alt="" width="250" height="50">
                    </a>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="d-flex justify-content-end mt-3">
                  <h3 class="navbar-brand" style="color: #555444">
                      Refreshing in: <label class="badge bg-danger"> 45</label>
                  </h3>
                </div>
            </nav>
        </div>
    </nav>


    <!--dashboard-->
	<div id="wrapper">

		<div class="content-area">
			<div class="container-fluid">
				<div class="main">


					<div class="row mb-4">
						<div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{omniproj_name.name}}
                                    <h6 class="{{omniproj_name.name_tag|bootstrap_model}}" style="{{omniproj_name.name_tag|name_tag}};">{{omniproj_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{omniproj_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{ omniproj_status.code|badge }}">{{omniproj_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
						</div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{amhdocs_name.name}}
                                    <h6 class="{{amhdocs_name.name_tag|bootstrap_model}}" style="{{amhdocs_name.name_tag|name_tag}};">{{amhdocs_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{amhdocs_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{ amhdocs_status.code|badge }}">{{amhdocs_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
						</div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                 <h4 class="text-light">
                                    {{chatbots_name.name}}
                                    <h6 class="{{chatbots_name.name_tag|bootstrap_model}}" style="{{chatbots_name.name_tag|name_tag}};">{{chatbots_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{chatbots_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{ chatbots_status.code|badge }}">{{chatbots_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{trilhas_name.name}}
                                    <h6 class="{{trilhas_name.name_tag|bootstrap_model}}" style="{{trilhas_name.name_tag|name_tag}};">{{trilhas_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{trilhas_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{trilhas_status.code|badge }}">{{trilhas_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{omni_name.name}}
                                    <h6 class="{{omni_name.name_tag|bootstrap_model}}" style="{{omni_name.name_tag|name_tag}};">{{omni_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{omni_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{omni_status.code|badge }}">{{omni_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{auditoriasv1_name.name}}
                                    <h6 class="{{auditoriasv1_name.name_tag|bootstrap_model}}" style="{{auditoriasv1_name.name_tag|name_tag}};">{{auditoriasv1_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{auditoriasv1_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{auditoriasv1_status.code|badge }}">{{auditoriasv1_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                <h4 class="text-light">
                                    {{auditoriasv2_name.name}}
                                    <h6 class="{{auditoriasv2_name.name_tag|bootstrap_model}}" style="{{auditoriasv2_name.name_tag|name_tag}};">{{auditoriasv2_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{auditoriasv2_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{auditoriasv2_status.code|badge }}">{{auditoriasv2_status.code}}</label>
                                    </label>
                                </h4>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box mt-4">

                                 <h4 class="text-light">
                                    {{siteomni_name.name}}
                                    <h6 class="{{siteomni_name.name_tag|bootstrap_model}}" style="{{siteomni_name.name_tag|name_tag}};">{{siteomni_name.name_tag}}</h6>
                                </h4>

                                <h6 style="color: #ff9900;">
                                    {{siteomni_name}}
                                </h6>

                                <h4 class="text-light">
                                    <label class="badge badge-secondary bg-dark p-2">Status:
                                        <label class="badge badge rounded-pill bg-{{siteomni_status.code|badge }}">{{siteomni_status.code}}</label>
                                    </label>
                                </h4>
                            </div>
                        </div>
					</div>

                    <div class="row mt-4">

                        <!--first box-->
						<div class="col-md-6">
                            <div class="box mt-4">
                                <canvas id="myChart"></canvas>
                            </div>
						</div>

                        <!--second box-->
						<div class="col-md-6">
                            <div class="box mt-4">
                                <canvas id="myChart2"></canvas>
                            </div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

    <!--script to reload page-->
    <script>
        let counter = 44;
        setInterval(() => {

            document.querySelector("label").innerText = counter;
            if(counter === 0) {
                window.location.reload();
            };
            counter--;
        }, 1000)
    </script>

    <!--script chart Js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--config chart Js-->

    <script>
      const mensal = [
        'Marco',
        'Abril',
        'Maio',
      ];

      const hora = [
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
        '18:00',
      ];


      const lineHour = {
        labels: hora,
        datasets: [
        {
          data: ["200", "200", "200", "500", "404", "200"],
          label: 'Trilhas',
          borderColor: '#3e95cd',
          backgroundColor: '#3e95cd',
        },
        {
          data: ["100", "200", "404", "404", "200", "200"],
          label: 'ChatBots',
          borderColor: '#3cba9f',
          backgroundColor: '#3cba9f',
        }
        ]
      }

      const barMouth = {
        labels: mensal,
        datasets: [
        {
          data: [200, 300, 400],
          label: 'Trilhas',
          borderColor: '#000000',
          backgroundColor: '#3e95cd',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'ChatBots',
          borderColor: '#000000',
          backgroundColor: '#3cba9f',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste3',
          borderColor: '#000000',
          backgroundColor: '#43e8c2',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste4',
          borderColor: '#000000',
          backgroundColor: '#b4e843',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste5',
          borderColor: '#000000',
          backgroundColor: '#e88b43',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste6',
          borderColor: '#000000',
          backgroundColor: '#e8ca43',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste7',
          borderColor: '#000000',
          backgroundColor: '#e84343',
          borderWidth:2,
        },
        {
          data: [200, 300, 400],
          label: 'teste8',
          borderColor: '#000000',
          backgroundColor: '#4287f5',
          borderWidth:2,
        },
        ]
      };

      const configBar = {
        type: 'bar',
        data: barMouth,
        options: {}
      };

      const configLine = {
        type: 'line',
        data: lineHour,
        options: {}
      };


      const myChart = new Chart(
        document.getElementById('myChart').getContext('2d'),
        configBar
      );

      const myChart2 = new Chart(
        document.getElementById('myChart2').getContext('2d'),
        configLine
      );


    </script>


    <!--script bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>


</body>
</html>